.article {
  border-radius: 5px;
  padding: 2px auto;
  font-size: 1em;
}

.article header {
  font-size: 0.9em;
  color: #b5179e;
  font-weight: 700;
  margin-bottom: 10px;
}

.capitalize {
 text-transform: capitalize;
}

.section {
  text-align: left;
  margin-bottom: 20px;
}

.section h3 {
  display: inline;
}

.section p {
  display: inline;
  font-size: 0.9em;
  padding-left: 15px;
}

.section span {
  font-weight: 700;
  font-size: 0.9em;
  color: #3a0ca3;
  opacity: 0.7;
}

