body {
  margin: 40px;
  margin-left: 32%;
  margin-right: 32%;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(min(650px, 100%), 1fr));
}

.box {
  border-radius: 5px;
  padding: 2px auto;
  font-size: 1em;
}
